body {
  background-image: url("photo/background.jpg");
  background-size: cover;
  
  margin: 0px;
  width: 100vw;
  
}

  .cafe-item {
    position: relative;
    width: 120px;
    height: 200px;
    padding: 4px 5px 21px;
    box-sizing: border-box;
    text-align: center;
}

  .cafe-item-counter {
    display: inline-block;
    opacity: 0;
    position: relative;
    top: 10px;
    right: -55px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #ccc;
  }

 .cafe-item img {
    width: 100%;
    height: auto;
}

 .cafe-item-name {
    margin-top: 10px;
}

 .cafe-item-price {
    margin-top: 10px;
}

 .add-button,
 .button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    transition: background .2s linear;
}

.minus-button,
.plus-button {
    display: none;
    padding: 10px 20px;
    border: none;
    margin: auto 3px;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 350;

    transition: background .2s linear;
}

.add-button:hover,
.minus-button:hover,
.plus-button:hover,
.button:hover {
    background: lightgreen;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    /*height: 100vh;  Необходимо задать высоту контейнера */
    margin-top: 70px;
    margin-bottom: 100px;
    z-index: 5;
  }
 
  #iframe-overlay {
    position: fixed;

    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный цвет фона */
    z-index: -1; /* Позиционирование поверх других элементов */
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc; /* Рамка */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Тень */
    opacity: 0; /* Изначально скрыт */
  transform: translateY(100%); /* Сдвигаем вниз на 100% от высоты */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Анимация появления */
  }
  
  #iframe-overlay.show {
    opacity: 1; /* Показываем элемент */
    transform: translateY(0); /* Возвращаем в исходное положение */
  }

  #iframe-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
  }
  
  #iframe-overlay.active {
    display: block; /* Показываем overlay при активации */
  }
 
  #receipt-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #close-button {
    position: absolute;
    border: 1px solid #ccc;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 25%;
    width: 30px;
    height: 30px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    background-color: #d30000;
    padding: 20px;
    z-index: 999;
    
   align-items: center;
  }

  .logo {
    max-width: 50px; /* Размер вашего логотипа */
    height: auto;
    text-align: center;
    flex-grow: 1;
    /*margin-left: 45%;
    margin-right: auto;*/
  }

  .parent{
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .image{
    width: 134px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  #cart-button{
    text-align: center;
    /*margin-right: 5%;*/
    font-size: 14px;
    padding: 6px;
    font-weight: 300;
  }

  main {
    padding-top: 80px; /* Значение должно быть равно или больше высоты шапки */
  }




  .cross {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -13px;
    margin-left: -11px;
  }
  
  .cross:before,
  .cross:after {
    content: "";
    position: absolute;
    background-color: white;
  }
  
  .cross:before {
    top: 50%;
    left: 10%;
    width: 80%;
    height: 4px;
    transform: rotate(-45deg);
  }
  
  .cross:after {
    top: 50%;
    right: 10%;
    width: 80%;
    height: 4px;
    transform: rotate(45deg);
  }
  
  element.style {
    --primary-color: #31b545;
    --primary-color-rgb: 49,181,69;
    --light-primary-color: rgba(49, 181, 69, 0.08);
    --light-filled-primary-color: #222c23;
    --dark-primary-color: hsl(129.0909090909091, 57.391304347826086%, 41.09803921568628%);
    color: rgb(255, 255, 255);
}

